.App {
  
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.box {

  padding: 5%;
  size: 30%;
  
}

a {
  margin: auto;
}

a:link {
  color:bisque 
}

a:hover {
 color: crimson
}

a:visited {
  color: gray
}

a:active {
  color: gold;
}